*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, .column {
    display: flex;
    flex-direction: column;
}

body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    text-align: center;
}

div {
    border: 1px black solid;
    margin: 20px;
}

.row {
    height: 60vh;
    display: flex;
    align-items: center;
}

.column {
    align-items: center;
}

.buttons {
    position: relative;
    height: 50vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 20vh;
}

.player {
    position: relative;
}

.player-cards {
    text-align: center;
    height: 40vh;
    width: 26vh;
    justify-content: center;
}

.flip {
    font-size: 33px;
}

.declare-war {
    font-size: 30px;
}

.new-game {
    font-size: 30px;
    margin-top: 10px;
}