
body {
    color: coral;
    background-color: white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    
}

.table {
    color: coral;
    background-color: rgb(27, 31, 31);
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
}

.left {
    color: black;
    background-color: aqua;
    text-align: center;
    border: 3px white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rules {
    background-color: blueviolet;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.right {
    color: black;
    background-color: aqua;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.new-game {
    font-size: 30px;
    padding: 2px;
    cursor: pointer;
    width: 50%;
}

.flip {
    font-size: 30px;
    padding: 2px;
    cursor: pointer;
    /* visibility: hidden; */
}

.declare-war {
    /* visibility: visible; */
    font-size: 30px;
    cursor: pointer;
}

h1 {
    text-align: center;
    border-color: aliceblue;
    border: 3px;
}







